@import '../constants';

.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 1rem;
  border: 1px solid $post-border-color;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: black 3px 3px 15px -10px;
  transition: transform 0.2s ease-in;

  &.clickable {
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  .comments-container {
  }
}
