@import '../constants';

.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 1rem;
  border: 1px solid $post-border-color;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: black 3px 3px 15px -10px;
  transition: transform 0.2s ease-in;
  overflow: hidden;

  &.detail {
    height: 100%;
  }

  &.clickable {
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  .comments-section {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .comments-container {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;

      .comment {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1rem;
        background: #d0d0d0;

        &:nth-child(odd) {
          background: #e8e8e8;
        }
      }
    }

    .comment-input-container {
      display: flex;
      flex-shrink: 0;
      padding-top: 1rem;

      .comment-input {
        padding: 0.5rem;
        width: 100%;
        outline: none;
      }

      .comment-button {
        border: none;
        background: $main-color-red;
        color: white;
        padding: 0.5rem;
        font-weight: bold;
      }
    }
  }
}
